# Base de datos MySQL (FASE 2)
DATABASE_URL="mysql://root:@localhost:3306/chiacchio"

# NextAuth (FASE 2)
NEXTAUTH_SECRET="tu-clave-secreta-muy-larga-y-segura"
NEXTAUTH_URL="http://localhost:3000"

# WhatsApp API (FASE 3)
WHATSAPP_TOKEN=""
WHATSAPP_PHONE_NUMBER_ID=""

# IA Bot (FASE 3)
AI_API_KEY=""
